@model PTSchool.Web.Models.Parent.CollectionParentsLightViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var parent in Model.Parents)
        {
            <div class="col-md-2">
                <div class="text-center border border-dark p-2">
                    @*<p>@parent.Id</p>*@
                    <p>@parent.FirstName @parent.MiddleName[0]. @parent.LastName</p>
                    <a href="@Url.Action("Parent", "Parents", new { id = parent.Id })"><img src="@parent.Image" class="img-circle-sm" /></a>
                </div>
            </div>
        }
    </div>
</div>