@model PTSchool.Web.Models.Parent.ParentFullViewModel

<div>
    <div class="row">
        <div class="col-md-5">
            <partial name="_ProfilePersonGeneralPartial" model="@Model" />
            <partial name="_ProfilePersonInformationPartial" model="@Model" /> <!--General Information-->
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-trophy"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Age</p>
                                        <p class="card-title">@Model.Age</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i>
                                @Model.FirstName is @Model.Age old.
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-stats">
                        <div class="card-body ">
                            <div class="row">
                                <div class="col-5 col-md-4">
                                    <div class="icon-big text-center icon-warning">
                                        <i class="nc-icon nc-diamond"></i>
                                    </div>
                                </div>
                                <div class="col-7 col-md-8">
                                    <div class="numbers">
                                        <p class="card-category">Occupation</p>
                                        <p class="card-title">@Model.Occupation</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="card-footer ">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-refresh"></i> 
                                A professional @Model.Occupation
                            </div>
                        </div>
                    </div>
                </div>
            </div> <!--Score-->
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Children</h5>
                    <p class="card-category">@Model.FirstName's children. Click on image to get info.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Students)
                                {
                                    <tr>
                                        <td>@item.FirstName @item.MiddleName[0]. @item.LastName</td>
                                        <td class="text-right"><a href="@Url.Action("Student", "Students", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--Children-->
            <partial name="_ProfilePersonContactsPartial" model="@Model" />
        </div>
    </div>
</div>
<br />
<br />