@model PTSchool.Web.Models.Parent.ParentFullViewModel

<div>
    <div class="row">
        <div class="col-md-5">
            <partial name="_ProfilePersonGeneralPartial" model="@Model" />
        </div>
        <div class="col-md-7">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">Children</h5>
                    <p class="card-category">@Model.FirstName's children. Click on image to get info.</p>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead class=" text-primary">
                                <tr>
                                    <th>Name</th>
                                    <th class="text-right">Image</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Students)
                                {
                                    <tr>
                                        <td>@item.FirstName @item.MiddleName[0]. @item.LastName</td>
                                        <td class="text-right"><a href="@Url.Action("Student", "Students", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a></td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div> <!--Children-->
            <partial name="_ProfilePersonContactsPartial" model="@Model" />
        </div>
    </div>
</div>
<br />
<br />