@model PTSchool.Web.Models.Class.CollectionClassesLightViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var classById in Model.Classes)
        {
            <div class="col-md-2">
                <div class="text-center p-2 border border-dark">
                    <p>@classById.Id</p>
                    <p>@classById.Name</p>
                    <a href="@Url.Action("Class", "Classes", new { id = classById.Id })"><img src="@classById.Image" class="img-circle-sm" /></a>
                </div>
            </div>
        }
    </div>
</div>