@model PTSchool.Web.Models.Student.CollectionStudentsLightViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var student in Model.Students)
        {
            <div class="col-md-2">
                <div class="card text-center @(student.IsSchoolCouncilMember ? "border border-warning" : "")">
                    <div class="card-header">
                        <p class="card-category">@student.FirstName @student.MiddleName[0]. @student.LastName</p>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Student", "Students", new { id = student.Id })"><img src="@student.Image" class="img-circle-sm" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />