@model PTSchool.Web.Models.Teacher.CollectionTeachersFullViewModels

@{
    ViewData["Title"] = "AllTeachers";
}

@{
    int num = 0;
}

<div class="row">
    <div class="col-md-2 bg-primary text-white">
        <h1 class="text-center mx-auto d-block">All Teachers</h1>
        <hr />
    </div>
    <div class="col-md-10">
        <a href="/Teachers/AllTeachers?page=@Model.FirstPage" class="float-left btn btn-dark text-white @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><<</a>
        <a href="/Teachers/AllTeachers?page=@Model.PreviousPage" class="float-left btn btn-dark text-white @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><</a>
        <a href="/Teachers/AllTeachers?page=@Model.LastPage" class="float-right btn btn-dark text-white @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">>></a>
        <a href="/Teachers/AllTeachers?page=@Model.NextPage" class="float-right btn btn-dark text-white @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">></a>

        <br />
        <br />

        <table class="table table-bordered table-striped">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Subjects</th>
                <th>Class Mastered</th>
                <th>Clubs Mastered</th>
                <th>Average Mark They Gave</th>
                <th>Gender</th>
                <th>Date Of Birth</th>
                <th>Age</th>
                <th>Contacts</th>
                <th>Years in School</th>
                <th>Years of Experience</th>
                <th>About Me</th>
            </tr>
            @foreach (var item in Model.AllTeachersFull)
            {
                num++;

                string averageMarkByTeacher = $"{item.AverageMark:F2}";

                <tr>
                    <td>@num</td>
                    <td>
                        <a href="@Url.Action("Teacher", "Teachers", new { id = item.Id })">
                            <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ImageXS)" alt="@item.LastName" width="100" height="100">
                        </a>
                    </td>
                    <td>@item.FirstName @item.MiddleName @item.LastName</td>
                    <td>
                        @if (item.SubjectsIds.Count() == 0)
                        {
                            @for (int i = 0; i < item.SubjectsIds.Count(); i++)
                            {
                                <a href="@Url.Action("Club", "Clubs", new { id = item.ClubsMasteredIds.ToList()[i] })">
                                    @if (item.ClassMasteredImageXXS != null)
                                    {
                                        <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ClubsMasteredImagesXXS.ToList()[i])" alt="subject" width="50" height="50">
                                    }
                                </a>
                            }
                        }
                        else
                        {
                            @for (int i = 0; i < item.SubjectsIds.Count(); i++)
                            {
                                <a href="@Url.Action("Subject", "Subjects", new { id = item.SubjectsIds.ToList()[i] })">
                                    @if (item.ClassMasteredImageXXS != null)
                                    {
                                        <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.SubjectsImagesXXS.ToList()[i])" alt="subject" width="50" height="50">
                                    }
                                </a>
                            }
                        }
                    </td>
                    <td>
                        <a href="@Url.Action("Class", "Classes", new { id = item.ClassMasteredId })">
                            @if (item.ClassMasteredImageXXS != null)
                            {
                                <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ClassMasteredImageXXS)" alt="classmastered" width="50" height="50">
                            }
                        </a>
                    </td>
                    <td>
                        @if (item.ClubsMasteredImagesXXS != null)
                        {
                            for (int i = 0; i < item.ClubsMasteredImagesXXS.Count(); i++)
                            {
                                <a href="@Url.Action("Club", "Clubs", new { id = item.ClubsMasteredIds.ToList()[i] })">
                                    <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ClubsMasteredImagesXXS.ToList()[i])" alt="clubmastered" width="50" height="50">
                                </a>
                            }
                        }
                    </td>
                    <td>@averageMarkByTeacher</td>
                    <td>@item.Gender</td>
                    <td>@item.DateOfBirth.Year/@item.DateOfBirth.Month/@item.DateOfBirth.Day</td>
                    <td>@item.Age</td>
                    <td>
                        <p><strong>Address:</strong> @item.Address</p>
                        <p><strong>Email:</strong> @item.Email</p>
                        <p><strong>Phone:</strong> @item.Phone</p>
                        <p><strong>Emergency Phone:</strong> @item.PhoneEmergency</p>
                    </td>

                    <td>@(DateTime.Now.Year - item.DateOfEmployment.Year)</td>
                    <td>@(DateTime.Now.Year - item.DateOfCareerStart.Year)</td>
                    <td>@item.AboutMe</td>
                </tr>
            }
        </table>

        <a href="/Teachers/AllTeachers?page=@Model.FirstPage" class="float-left btn btn-info @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><<</a>
        <a href="/Teachers/AllTeachers?page=@Model.PreviousPage" class="float-left btn btn-info @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><</a>
        <a href="/Teachers/AllTeachers?page=@Model.LastPage" class="float-right btn btn-info @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">>></a>
        <a href="/Teachers/AllTeachers?page=@Model.NextPage" class="float-right btn btn-info @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">></a>

        <br />
        <br />
    </div>
</div>