@model PTSchool.Web.Models.Teacher.CollectionTeachersLightViewModels

<partial name="_PageNavigatorPartial" model="@Model" />

<div>
    <div class="row">
        @foreach (var teacher in Model.Teachers)
        {
            <div class="col-md-2">
                <div class="card text-center @(teacher.IsHeadTeacher ? "border border-warning" : "")">
                    <div class="card-header">
                        <p class="card-category">@teacher.FirstName @teacher.MiddleName[0]. @teacher.LastName</p>
                    </div>
                    <div class="card-body">
                        <a href="@Url.Action("Teacher", "Teachers", new { id = teacher.Id })"><img src="@teacher.Image" class="img-circle-sm" /></a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>
<br />
<br />