@model PTSchool.Web.Models.Teacher.TeacherLightViewModel

<div>
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="text-center border border-dark p-2">
                <p>@Model.Id</p>
                <p>@Model.FirstName @Model.MiddleName[0]. @Model.LastName</p>
                <a href="@Url.Action("Teacher", "Teachers", new { id = Model.Id })"><img src="@Model.Image" class="img-circle-sm" /></a>
            </div>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>