@model PTSchool.Web.Models.Teacher.TeacherFullViewModel

<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <partial name="_ProfilePersonGeneralPartial" model="@Model" />
            <partial name="_ProfilePersonContactsPartial" model="@Model" />
        </div>
        <div class="col-md-5">
            <div class="border border-dark">
                <p>Average Score</p>
                <h1>@Model.AverageMark</h1>
            </div>
            <div class="border border-dark">
                <p>Average Behavior</p>
                <h1>@Model.AverageNote</h1>
            </div>
            @*<div class="border border-dark">
                <p>Class Mastered</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    <tr>
                        <td>@Model.ClassMastered.Id</td>
                        <td>@Model.ClassMastered.Name</td>
                        <td>
                            <a href="@Url.Action("Class", "Classes", new { id = @Model.ClassMastered.Id })"><img src="@Model.ClassMastered.Image" height="50" class="img-circle-100" /></a>
                        </td>
                    </tr>
                </table>
            </div>*@
            <div class="border border-dark">
                <p>Subjects</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    @foreach (var item in Model.Subjects)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="@Url.Action("Subject", "Subjects", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            @*<div class="border border-dark">
                <p>Classes</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    @foreach (var item in Model.Clubs)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="@Url.Action("Class", "Classes", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>*@
            <div class="border border-dark">
                <p>Clubs</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    @foreach (var item in Model.Clubs)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.Name</td>
                            <td>
                                <a href="@Url.Action("Club", "Clubs", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>