@model MvcSchool.Web.Models.Class.AllClassProfilesFullViewModel

@{
    ViewData["Title"] = "AllClasses";
}

@{ 
    int num = 0;
}

<div class="row">
    <div class="col-md-2 bg-secondary text-white">
        <h1 class="text-center mx-auto d-block">All Classes</h1>
        <hr />
    </div>
    <div class="col-md-10">
        <table class="table table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Master Teacher</th>
                <th>Average Score</th>
                <th>Count Students</th>
                <th>Count Boys</th>
                <th>Count Girls</th>
            </tr>
            @foreach (var item in Model.AllClassesFull)
            {
                num++;

                string averageScoreOfThisClass = $"{item.StudentsAverageScores.Average():F2}";

                <tr>
                    <td>@num</td>
                    <td><a href="@Url.Action("Class", "Classes", new { id = item.Id })"><img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ImageXS)" alt="class" width="100" height="100"></a></td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>
                        @item.MasterTeacherName
                    <br />
                    <a href="@Url.Action("Teacher", "Teachers", new { id = item.MasterTeacherId })">
                        <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.MasterTeacherImageXXS)" alt="masterteacher" width="50" height="50">
                    </a>
                </td>
                <td>@averageScoreOfThisClass</td>
                <td>@item.CountStudents</td>
                <td>@item.CountBoys</td>
                <td>@item.CountGirls</td>
            </tr>
        }
        </table>
    </div>
</div>

