<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!--<title>, <meta name="description" content="..."/>, <meta name="description" content="..."/> are obligatory for a better Google Search recognition...-->
    <title>@ViewData["Title"] / PTSchool</title>
    <meta name="description" conent="MvcSchool is a platform that makes communication between Teachers, Students and Parents easy! Based on priority, parents receive notifications about their child's grades and notes. Sending a message between two of these T-S-P. Authentication and authorization guarantees security." />
    <meta name="keywords" content="MVC, School, Teachers, Parents, Students, Education, Platform" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
</head>

<!--PT: If you are ADMIN and go to localhost:5001/Test/Adminize => bg-color changes!-->
<body>
    <header>
        <!--class="border-bottom" - deleted-->
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark text-light box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">PTSchool</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <partial name="_LoginPartial" />
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <div class="btn-group">
                                <button class="btn btn-secondary btn-lg btn-light text-dark dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    Menu
                                </button>
                                <div class="dropdown-menu bg-dark" x-placement="bottom-start" style="position: absolute; transform: translate3d(0px, 48px, 0px); top: 0px; left: 0px; will-change: transform;">
                                    <a class="dropdown-item bg-success text-white" asp-controller="Students" asp-action="AllStudents">Students</a>
                                    <a class="dropdown-item bg-success text-white" asp-controller="Students" asp-action="StudentCouncil">Student Council</a>
                                    <hr />
                                    <a class="dropdown-item bg-primary text-white" asp-controller="Teachers" asp-action="AllTeachers">Teachers</a>
                                    <hr />
                                    <a class="dropdown-item bg-warning text-dark" asp-controller="Parents" asp-action="AllParents">Parents</a>
                                    <hr />
                                    <a class="dropdown-item bg-info text-white" asp-controller="Subjects" asp-action="AllSubjects">Subjects</a>
                                    <hr />
                                    <a class="dropdown-item bg-secondary text-white" asp-controller="Classes" asp-action="AllClasses">Classes</a>
                                    <a class="dropdown-item bg-secondary text-white" asp-controller="Clubs" asp-action="AllClubs">Clubs</a>
                                    <hr />
                                    <a class="dropdown-item bg-white text-dark" asp-controller="Home" asp-action="Chat">SchoolChat!</a>
                                    <a class="dropdown-item bg-white text-dark" asp-controller="Canvas" asp-action="Draw">SchoolCanvas!</a>
                                    <a class="dropdown-item bg-white text-dark" asp-controller="Tictactoe" asp-action="Menu">TicTacToeGame!</a>
                                    <a class="dropdown-item bg-white text-dark" asp-controller="Shooter" asp-action="Play">PTShooterGame!</a>
                                </div>
                            </div>
                        </li>                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div>
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <!--class="border-top" - deleted-->
    <footer class="footer text-light bg-dark">
        <div class="container">
            &copy; 2020-@DateTime.UtcNow.Year / PTSchool / <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>



@*<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebApplication1</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebApplication1</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>*@
