@using Microsoft.AspNetCore.Identity

@{
    string title = string.Empty;
    string titleExtended = string.Empty;
    string url = Context.Request.Path;

    if (url != null && url != "/")
    {
        string[] urlSections = Context.Request.Path.ToString().Split('/').ToArray();
        title = (urlSections != null && urlSections.Length > 0) ? string.Join(" / ", urlSections.Skip(1).Take(1)) : "Home";
        titleExtended = (urlSections != null && urlSections.Length > 0) ? string.Join(" / ", urlSections.Skip(1).Take(2)) : "Home";
    }
    else
    {
        title = "Home";
    }
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!--<title>, <meta name="description" content="..."/>, <meta name="keywords" content="..."/> => better Search Engine Optimization (SEO) a.k.a. Google Search recognition. -->
    <title>@ViewData["Title"] / PTSchool</title>
    <meta name="description" content="PTSchool is a platform that makes communication between Teachers, Students and Parents easy! Based on priority, parents receive notifications about their child's grades and notes. Sending a message between two of these T-S-P. Authentication and authorization guarantees security." />
    <meta name="keywords" content="PT, School, Teacher, Teachers, Parent, Parents, Student, Students, Education, Platform" />
    
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.2/css/all.css">
    <link rel="icon" type="image/x-icon" href="~/images/favicon.ico">
    <script src="https://google.com/recaptcha/api.js"></script>
</head>

<!--PT: If you are ADMIN and go to localhost:5001/Test/Adminize => bg-color changes!-->
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="white" data-active-color="danger">
            <div class="logo">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-mini">
                    <div class="logo-image-small">
                        <img src="~/images/PTSchool.png">
                    </div>
                    <!-- <p>CT</p> -->
                </a>
                <a asp-area="" asp-controller="Home" asp-action="Index" class="simple-text logo-normal">
                    PTSCHOOL
                    <!-- <div class="logo-image-big">
                      <img src="../assets/img/logo-big.png">
                    </div> -->
                </a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    @if (User.IsInRole("Admin"))
                    {
                        <li class="@(titleExtended.ToLowerInvariant() == "home / envrionment" ? "active" : "")">
                            <a class="bg-danger" asp-area="Admin" asp-controller="Dashboard" asp-action="Environment">
                                <i class="nc-icon nc-glasses-2"></i>
                                <p class="text-white">Admins Platform</p>
                            </a>
                        </li>
                    }
                    <li class="@(titleExtended.ToLowerInvariant() == "students / studentcouncil" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Students" asp-action="StudentCouncil">
                            <i class="nc-icon nc-bank"></i>
                            <p>Student Council</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "students / allstudents" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Students" asp-action="AllStudents">
                            <i class="nc-icon nc-satisfied"></i>
                            <p>Students</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "teachers / allteachers" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Teachers" asp-action="AllTeachers">
                            <i class="nc-icon nc-circle-10"></i>
                            <p>Teachers</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "parents / allparents" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Parents" asp-action="AllParents">
                            <i class="nc-icon nc-single-02"></i>
                            <p>Parents</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "classes / allclasses" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Classes" asp-action="AllClasses">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>Classes</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "clubs / allclubs" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Clubs" asp-action="AllClubs">
                            <i class="nc-icon nc-tile-56"></i>
                            <p>Clubs</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "subjects / allsubjects" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Subjects" asp-action="AllSubjects">
                            <i class="nc-icon nc-atom"></i>
                            <p>Subjects</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "apiservices / general" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="ApiServices" asp-action="General">
                            <i class="nc-icon nc-globe"></i>
                            <p>API Services</p>
                        </a>
                    </li>
                    <hr />
                    <li class="@(titleExtended.ToLowerInvariant() == "shooter / play" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Shooter" asp-action="Play">
                            <i class="nc-icon nc-spaceship"></i>
                            <p>Play Shooter!</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "tictactoe / menu" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Tictactoe" asp-action="Menu">
                            <i class="nc-icon nc-simple-remove"></i>
                            <p>Play Tictactoe!</p>
                        </a>
                    </li>
                    <li class="@(titleExtended.ToLowerInvariant() == "canvas / draw" ? "active" : "")">
                        <a class="" asp-area="" asp-controller="Canvas" asp-action="Draw">
                            <i class="nc-icon nc-palette"></i>
                            <p>Draw Canvas!</p>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="main-panel">
            <!-- Navbar -->
            <nav class="navbar navbar-expand-lg navbar-absolute fixed-top navbar-transparent">
                <div class="container-fluid">
                    <div class="navbar-wrapper">
                        <div class="navbar-toggle">
                            <button type="button" class="navbar-toggler">
                                <span class="navbar-toggler-bar bar1"></span>
                                <span class="navbar-toggler-bar bar2"></span>
                                <span class="navbar-toggler-bar bar3"></span>
                            </button>
                        </div>
                        <a class="navbar-brand" href="javascript:;">@title</a>
                    </div>
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                        <span class="navbar-toggler-bar navbar-kebab"></span>
                    </button>
                    <div class="collapse navbar-collapse justify-content-end" id="navigation">
                        @*<form>
                                <div class="input-group no-border">
                                    <input type="text" value="" class="form-control" placeholder="Search...">
                                    <div class="input-group-append">
                                        <div class="input-group-text">
                                            <i class="nc-icon nc-zoom-split"></i>
                                        </div>
                                    </div>
                                </div>
                            </form>*@
                        <ul class="navbar-nav">
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li class="nav-item btn-rotate dropdown">
                                    <a class="nav-link dropdown-toggle" href="http://example.com" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        <img src="/images/user.png" height="30" id="img-circle" />
                                        <p><span class="d-lg-none d-md-block">Profile Deeds</span></p>
                                    </a>
                                    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownMenuLink">
                                        <div class="dropdown-item">
                                            <p class="nav-item dropdown-item text-primary">Welcome back, @User.Identity.Name.Split("@").First()!</p>
                                        </div>
                                        <div class="dropdown-divider"></div>
                                        <div class="dropdown-item">
                                            <a class="nav-item dropdown-item" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">Profile</a>
                                        </div>
                                        <div class="dropdown-item">
                                            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("Index", "Home", new { area = "" })">
                                                <button type="submit" class="nav-item dropdown-item">Logout</button>
                                            </form>
                                        </div>
                                    </div>
                                </li>
                                <li class="separator d-lg-none"></li>
                            }
                            else
                            {
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Register</a>
                                </li>
                                <li class="nav-item">
                                    <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Login</a>
                                </li>
                            }
                        </ul>
                    </div>
                </div>
            </nav>
            <!-- End Navbar -->
            <div class="content">
                <!-- // PT: COOKIES (step 3 - add partial view to _Layout.cshtml) -->
                <partial name="_CookieConsentPartial" />
                <main role="main" class="pb-3">
                    @RenderBody()
                </main>
            </div>
            <footer class="footer footer-black footer-white ">
                <div class="container-fluid">
                    <div class="row">
                        <nav class="footer-nav">
                            <ul>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="Privacy" class="nav-link">
                                        <b class="button-hover">Privacy Policy</b>
                                    </a>
                                </li>
                                <li class="nav-item">
                                    <a asp-area="" asp-controller="Home" asp-action="About" class="nav-link">
                                        <b class="button-hover">About</b>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                        <div class="credits ml-auto">
                            <div class="copyright">
                                <a href="/Home/EmailSend" target="_blank" class="text-dark"><i class="far fa-envelope fa-2x button-hover"></i></a> &nbsp;
                                <a href="https://www.instagram.com/" target="_blank" class="text-dark"><i class="fab fa-instagram fa-2x button-hover"></i></a> &nbsp;
                                <a href="https://www.facebook.com/" target="_blank" class="text-dark"><i class="fab fa-facebook fa-2x button-hover"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </div>
    </div>
    <br />
    <br />

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/microsoft/signalr/dist/browser/signalr.min.js" asp-append-version="true"></script>

    <script src="~/js/template/core/bootstrap.min.js"></script>
    <script src="~/js/template/core/jquery.min.js"></script>
    <script src="~/js/template/core/popper.min.js"></script>

    <script src="~/js/template/plugins/bootstrap-notify.js"></script>
    <script src="~/js/template/plugins/chartjs.min.js"></script>
    <script src="~/js/template/plugins/perfect-scrollbar.jquery.min.js"></script>

    <script src="~/js/template/paper-dashboard.js"></script>
    <a href="~/js/template/paper-dashboard.js.map">~/js/paper-dashboard.js.map</a>
    <script src="~/js/template/paper-dashboard.min.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>

@*<a class="dropdown-item bg-white text-dark" asp-controller="Home" asp-action="Chat">SchoolChat!</a>*@