@model PTSchool.Web.Models.Abstracts.PageableCollection

<div class="row">
    <div class="col-md-4 text-left">
        <a href="@Model.Url?page=@Model.FirstPage" class="float-left btn btn-outline-dark @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><<<i class="tim-icons icon-minimal-left"></i></a>
        <a href="@Model.Url?page=@Model.PreviousPage" class="float-left btn btn-outline-dark @(Model.IsPreviousPageDisabled ? "disabled" : String.Empty)"><</a>
    </div>
    <div class="col-md-4 text-center">
        <h4>@Model.CurrentPage / @(Model.LastPage == Int32.MinValue ? 1 : Model.LastPage)</h4>
    </div>
    <div class="col-md-4 text-right">
        <a href="@Model.Url?page=@Model.LastPage" class="float-right btn btn-outline-dark @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">>><i class="tim-icons icon-minimal-right"></i></a>
        <a href="@Model.Url?page=@Model.NextPage" class="float-right btn btn-outline-dark @(Model.IsNextPageDisabled ? "disabled" : String.Empty)">></a>
    </div>
</div>
<br />