@model PTSchool.Web.Models.Abstracts.PersonEntity

<div class="card">
    <div class="card-header">
        <h5 class="card-title">Profile</h5>
        <p class="card-category">@Model.FirstName @Model.MiddleName[0]. @Model.LastName</p>
    </div>
    <div class="card-body text-center">
        <img src="@Model.Image" class="img-circle-sm" />
        <br />
        <br />
        <blockquote>
            <p class="text-center blockquote blockquote-primary">@Model.Description</p>
        </blockquote>
    </div>
    @*<p>@Model.Id</p>*@    
</div>