@model PTSchool.Web.Models.Club.ClubFullViewModel

<div>
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
            <div>
                <partial name="_ProfileBaseGeneralPartial" model="@Model" />
                <div class="border border-dark">
                    <p>General information</p>
                    <table class="table table-striped ">
                        <tr>
                            <th>Type</th>
                            <th>Data</th>
                        </tr>
                        <tr>
                            <td>Email</td>
                            <td>
                                @Model.Email
                            </td>
                        </tr>
                        <tr>
                            <td>Date Established</td>
                            <td>
                                @Model.DateEstablished
                            </td>
                        </tr>
                        <tr>
                            <td>Count Total</td>
                            <td>
                                @Model.CountStudents
                            </td>
                        </tr>
                        <tr>
                            <td>Count Girls</td>
                            <td>
                                @Model.CountGirls
                            </td>
                        </tr>
                        <tr>
                            <td>Count Boys</td>
                            <td>
                                @Model.CountBoys
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="border border-dark">
                <p>Teachers</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    @foreach (var item in Model.Teachers)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName @item.MiddleName[0]. @item.LastName</td>
                            <td>
                                <a href="@Url.Action("Teacher", "Teachers", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
            <div class="border border-dark">
                <p>Students</p>
                <table class="table table-striped ">
                    <tr>
                        <th>Id</th>
                        <th>Name</th>
                        <th>Image</th>
                    </tr>
                    @foreach (var item in Model.Students)
                    {
                        <tr>
                            <td>@item.Id</td>
                            <td>@item.FirstName @item.MiddleName[0]. @item.LastName</td>
                            <td>
                                <a href="@Url.Action("Student", "Students", new { id = item.Id })"><img src="@item.Image" height="50" class="img-circle-100" /></a>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>