@model PTSchool.Web.Models.Home.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@{
    var temp = Model.Weather.TempWeather - 273.15;
    var tempStatus = "high";
    var colorCardWeather = "bg-secondary";

    if (temp <= 0)
    {
        colorCardWeather = "bg-info";
        tempStatus = "low";
    }
    if (temp > 0 && temp <= 10)
    {
        colorCardWeather = "bg-primary";
    }
    if (temp > 10 && temp <= 20)
    {
        colorCardWeather = "bg-success";
    }
    if (temp > 20 && temp <= 30)
    {
        colorCardWeather = "bg-warning";
    }
    if (temp > 30)
    {
        colorCardWeather = "bg-danger";
    }

    var cloudPercentage = Model.Weather.CloudsWeather;
    var cloudIcon = "fa-sun";

    if (cloudPercentage >= 75)
    {
        cloudIcon = "fa-cloud-meatball";
    }
    else if (cloudPercentage >= 50 && cloudPercentage < 75)
    {
        cloudIcon = "fa-cloud";
    }
    else if (cloudPercentage >= 25 && cloudPercentage < 50)
    {
        cloudIcon = "fa-cloud-sun";
    }
}

<partial name="_ScrollIndicatorPartial" />

<div class="row">
    <div class="col-md-12">
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-2 col-md-1">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-time-alarm"></i>
                        </div>
                    </div>
                    <div class="col-10 col-md-11">
                        <div class="numbers">
                            <p class="card-category">Time</p>
                            <p class="card-title">@Model.TimeNow</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    This is DateTime.UtcNow that was In-Memory Cached within a time span of 10 seconds.
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-9">
        <div class="card bg-warning">
            <div class="card-header">
                <h1 class="card-title">PTSchool</h1>
                <h4 class="card-title">Welcome to the PTSchool web platform!</h4>
            </div>
            <div class="card-body">
                <div class="row">
                    <div class="col-md-6">
                        <h1 class=""><strong>ASP.NET Core 3.1 App (MVC)</strong> that was created to make communication in <strong>School</strong> smooth as a baby's bottom.</h1>
                        <hr class="border border-success" />
                        <p>
                            The purpose of PTSchool is to facilitate the communication between the 3 main "sides" within the School Institution:
                            <ul>
                                <li>(P)arents</li>
                                <li>(T)eachers</li>
                                <li>(S)tudents</li>
                            </ul>
                        </p>
                        <hr class="border border-primary" />
                        <!-- PT: CACHE (VIEW) -->
                        <cache expires-after="TimeSpan.FromSeconds(30)" vary-by-query="id">
                            <h6 class="text-center">Cache Test (30sec) &nbsp;&nbsp;|&nbsp;&nbsp; @DateTime.Now.ToString()</h6>
                        </cache>
                    </div>
                    <div class="col-md-6">
                        <img class="img-fluid" src="~/images/PTSchool2.png" alt="LogoPTSchool">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3">        
        <div class="card card-stats text-white @colorCardWeather">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-3">
                        <div class="icon-big text-center icon-warning">
                            <i class="fas @cloudIcon" style="font-size: 48px;"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-9">
                        <div class="numbers">
                            <p class="card-category text-white">@Model.Weather.CityWeather / @Model.Weather.CountryWeather</p>
                            <p class="card-title"><i class="fas fa-temperature-@tempStatus" style="font-size: 24px;"></i> @temp.ToString("F1")°</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats text-white">
                    <div class="row">
                        <div class="col-md-6 text-left">
                            <p>Humidity</p>
                            <p>Pressure</p>
                            <p>Wind</p>
                        </div>
                        <div class="col-md-6 text-right">
                            <p>@Model.Weather.HumidityWeather%</p>
                            <p>@Model.Weather.PressureWeather hPa</p>
                            <p>@Model.Weather.WindDirectionWeather° / @Model.Weather.WindSpeedWeather m/s</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-satisfied"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Students / Teachers</p>
                            <p class="card-title">@Model.CountStudents / @Model.CountTeachers</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    @(Model.CountStudents + Model.CountTeachers) people create our PTSchool community.
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-atom"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Subjects</p>
                            <p class="card-title">@Model.CountSubjects</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    PTSchool curriculum includes @Model.CountSubjects Subjects.
                </div>
            </div>
        </div>
        <div class="card card-stats">
            <div class="card-body ">
                <div class="row">
                    <div class="col-5 col-md-4">
                        <div class="icon-big text-center icon-warning">
                            <i class="nc-icon nc-chart-bar-32"></i>
                        </div>
                    </div>
                    <div class="col-7 col-md-8">
                        <div class="numbers">
                            <p class="card-category">Classes / Clubs</p>
                            <p class="card-title">@Model.CountClasses / @Model.CountClubs</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card-footer ">
                <hr>
                <div class="stats">
                    <i class="fa fa-refresh"></i>
                    @Model.CountClasses imperative Classes, @Model.CountClubs volunteer Clubs.
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    @foreach (var article in Model.News)
    {
        <div class="col-md-4">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title">@(article.Title.Length > 75 ? article.Title.Substring(0,75) + "..." : article.Title) </h5>
                    <p class="card-category">@(article.Description.Length > 120 ? article.Description.Substring(0,120) + "..." : article.Description) </p>
                </div>
                <div class="card-body">
                    <img src="@article.UrlToImage" />
                    <div class="text-right">
                        <a class="btn btn-success btn-round" href="@article.Url" target="_blank">Read more</a>
                    </div>
                </div>
            </div>
        </div>
    }
</div>
<br />
<br />

<!--PT: OVERRIDES ALL H1-s TO "HELLO"-->
@*@section Scripts {
        <script>
            $("h1").html("Hello, World!");
        </script>
    }*@

<script>
    //!--Put this function in a button onclick = "jsFunctionTest()"
    function jsFunctionTest() {
        alert("You called the helloFunction()!");
    }

    function ajaxTest() {
        var xhr = new XMLHttpRequest();
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                alert("This is an ajaxTest() which makes a new XMLHttpRequest");
                document.getElementById("placeholderElement").innerHTML = this.responseText;
            }
        }
        xhr.open("GET", "/Home/Environment", true);
        xhr.send();
    }
</script>