@model PTSchool.Web.Models.Tictactoe.CollectionTictactoeViewModels

@{
    ViewData["Title"] = "Join";
}

<div class="container">
    <div class="row justify-content-center align-items-center">
        <h1 onmouseover="this.style.fontSize='50px'" onmouseout="this.style.fontSize='40px'">TicTacToe<strong>Join!</strong></h1>
    </div>
    <hr style="height: 5px;" class="bg-danger" />
</div>

<div class="container">
    <div>
        @if (Model.GamesTictactoeAvailable.Count() == 0)
        {
            <p class="text-center"><strong>No games available!</strong> Go back to MENU and create one yourself!</p>
        }
        @foreach (var gamesAvailable in @Model.GamesTictactoeAvailable)
        {
            string hour = $"{@gamesAvailable.DateCreated.Hour:D2}";
            string minute = $"{@gamesAvailable.DateCreated.Minute:D2}";
            string second = $"{@gamesAvailable.DateCreated.Second:D2}";

            <p><strong>Game: </strong>@gamesAvailable.Id</p>
            <p><strong>Host: </strong>@gamesAvailable.User1Id</p>
            <p><strong>Time created: </strong>@hour:@minute:@second</p>
            <a class="btn btn-large btn-info text-white" onclick="window.location='@Url.Action("JoinPlay", "Tictactoe", new { id = gamesAvailable.Id, gameHost = gamesAvailable.User1Id })'">PLAY!</a>
            <hr />
        }
    </div>
</div>

<div class="container">
    <hr style="height: 5px;" class="bg-danger" />
    <div class="row justify-content-center align-items-center">
        <a class="btn btn-large btn-danger text-white" onclick="window.location='@Url.Action("Menu", "Tictactoe")'">BACK TO MENU</a>
    </div>
</div>