@model MvcSchool.Web.Models.Club.AllClubProfilesFullViewModel

@{
    ViewData["Title"] = "AllClubs";
}

@{ 
    int index = 0;
}

<div class="row">
    <div class="col-md-2 bg-secondary text-white">
        <h1 class="text-center mx-auto d-block">All Clubs</h1>
        <hr />
        <div>
            <input type="button" class="btn btn-large bg-white text-dark font-weight-bold" value="GET COUNT ALL CLUBS!" onclick="getAllClubsCount(this)" />
            <h1 class="text-warning text-center mx-auto d-block" id="buttonCountClubs"></h1>
        </div>
        <div>
            <input type="button" class="btn btn-large bg-white text-dark font-weight-bold" value="GET COUNT ALL STUDENTS!" onclick="getAllClubsStudentsCount(this)" />
            <h2 class="text-warning text-center mx-auto d-block" id="buttonCountClubsStudents"></h2>
        </div>
        <div>
            <input type="button" class="btn btn-large bg-white text-dark font-weight-bold" value="GET COUNT ALL TEACHERS!" onclick="getAllClubsTeachersCount(this)" />
            <h3 class="text-warning text-center mx-auto d-block" id="buttonCountClubsTeachers"></h3>
        </div>
    </div>
    <div class="col-md-10">
        <table class="table table-striped table-bordered">
            <tr>
                <th>#</th>
                <th>Image</th>
                <th>Name</th>
                <th>Description</th>
                <th>Year Established</th>
                <th>Club Masters</th>
                <th>Club Members</th>
                <th>Count Students</th>
                <th>Count Boys</th>
                <th>Count Girls</th>
            </tr>
            @foreach (var item in Model.AllClubsFull)
            {
                index++;
                <tr>
                    <td>@index</td>
                    <td>
                        <a href="@Url.Action("Club", "Clubs", new { id = item.Id })">
                            <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.ImageXS)" alt="club" width="100" height="100">
                        </a>
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Description</td>
                    <td>@item.DateOfEstablishment.Year</td>
                    <td>
                        @for (int i = 0; i < item.TeachersIds.Count(); i++)
                        {
                            <a href="@Url.Action("Teacher", "Teachers", new { id = item.TeachersIds.ToList()[i] })">
                                <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.TeachersImagesXXS.ToList()[i])" alt="teacher" width="50" height="50">
                            </a>
                        }
                    </td>
                    <td>
                        @for (int i = 0; i < item.StudentsIds.Count(); i++)
                        {
                            <a href="@Url.Action("Student", "Students", new { id = item.StudentsIds.ToList()[i] })">
                                <img class="rounded-circle" src="data:image/jpg;base64,@Convert.ToBase64String(item.StudentsImagesXXS.ToList()[i])" alt="student" width="50" height="50">
                            </a>
                        }
                    </td>
                    <td>@item.CountStudents</td>
                    <td>@item.CountGirls</td>
                    <td>@item.CountBoys</td>
                </tr>
            }
        </table>
    </div>
</div>

<script>
    function getAllClubsCount(element) {
        var xhr = new XMLHttpRequest;
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                element.style.display = "none";
                document.getElementById("buttonCountClubs").innerHTML = this.responseText + " clubs";
            }
        }
        xhr.open("GET", "/Clubs/GetAllClubsCount", true);
        xhr.send();
    } 

    function getAllClubsStudentsCount(element) {
        var xhr = new XMLHttpRequest;
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                element.style.display = "none";
                document.getElementById("buttonCountClubsStudents").innerHTML = this.responseText + " students";
            }
        }
        xhr.open("GET", "/Clubs/GetAllClubsStudentsCount", true);
        xhr.send();
    }

    function getAllClubsTeachersCount(element) {
        var xhr = new XMLHttpRequest;
        xhr.onreadystatechange = function () {
            if (this.readyState == 4 && this.status == 200) {
                element.style.display = "none";
                document.getElementById("buttonCountClubsTeachers").innerHTML = this.responseText + " teachers";
            }
        }
        xhr.open("GET", "/Clubs/GetAllClubsTeachersCount", true);
        xhr.send();
    }  
</script>
